li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffcb74;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: .3s;
  cursor: pointer;

    img {
        width: 4em;
        padding-bottom: 2px;
        margin: 0.1em 0 0 1em;
    }

    &:hover {
        color: #f6f6f6;
        transition: .3s;
    }

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 7em;
  background: rgba($color: #111, $alpha: 0.35);
  position: relative;
  z-index: 3;
  position: sticky;
  top: 0;
  transition: .65s;
  user-select: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3em;
  margin: 0 2em 0 0;
}

.nav__toggler {
  display: none;

  div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #ffcb74;
    transition: 0.3s ease-in;
  }

}

.nav-scroll {
  background: rgba($color: #111, $alpha: 0.95);
  transition: .8s;
  border-bottom: 1px solid rgba($color: #af7d26, $alpha: .5);
}

@media screen and (max-width: 768px) {

  .nav {
    background-color: #111;
  }

  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #111;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    margin: 0;
  }

}

/* ACTIVE CLASS */
.nav__active {
  transform: translateX(0%);
}

/* ICON ANIMATION */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}